* {
  padding: 0px;
  margin: 0px;
}

.wrapper {
  width: 944px;
}

.dynamic-setting-list {
  margin-left: 30px;
  height: 350px;
  overflow-y: auto;
  margin-right: 23px;
}

.setting-list__element {
  position: relative;
  display: flex;
  border: 1px solid #bbbbbb;
}

.list-element__topic {
  display: inline-block;
  width: 156px;
}

.list-element__topic button {
  background-color: #bbbbbb;
  border: none;
  padding: 5px 0px;
  text-align: center;
  font-size: 18px;
  width: 156px;
}

.topic__content {
  display: none;
  border-left: 1px solid #bbbbbb;
  padding: 5px;
}

.topic-content__checkbox-list {
  width: 50%;
  list-style-type: none;
}

.topic__description {
  width: 50%;
  font-size: 16px;
}

.checkbox-list__element {
  font-size: 14;
}

.checkbox-styling {
}

.checkbox-option__hint {
  font-size: 10px;
  margin-left: 25px;
}

.bottom-option-row {
  float: right;
  margin-right: 23px;
}

.bottom-option-row button {
  background-color: #1b6aa5;
  color: #ffffff;
  border: none;
  padding: 10px;
}
