
body {
  padding: 0px;
  margin: 0px;
}

hr {
  border-color: #ff00ff;
  margin: 0px;
  padding: 0px;
}

.wrapper {
  width: 944px;
}

.dynamic-setting-list {
  margin-left: 100px;
  height: 350px;
  overflow-y: auto;
}

.setting-list__element {
  position: relative;
  display: flex;
}

.list-element__topic {
  display: inline-block;
  width: 200px;
}

.list-element__topic button {
  background-color: #ffffff;
  border: 1px solid #ff00ff;
  padding: 5px 0px;
  text-align: center;
  font-size: 18px;
  width: 200px;
}

.topic__content {
  display: none;
}

.topic__description {
  font-size: 16px;
}
.topic-content__checkbox-list {
  list-style-type: none;
  padding: 0px;
  margin: 0px;
}

.checkbox-list__element {
}

.checkbox-styling {
}

.checkbox-option__hint {
  font-size: 10px;
  margin-left: 25px;
}

.bottom-option-row {
  float: right;
  padding: 20px;
  margin-right: 50px;
}

.bottom-option-row button {
  background-color: #1b6aa5;
  color: #ffffff;
  border: none;
  padding: 10px;
}
